﻿@using UniveristyWevApp.Models
@model UniveristyWevApp.Models.StudentResult
@{
    ViewBag.Title = "Add Student Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AlartType alartType = ViewBag.alart;
}

<div class="col-sm-12" style="padding-top: 30px">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;"><p><strong>Save Student Result</strong></p></div>
        <div class="panel-body">
            <div>
                <form id="saveStudentResult" method="POST" class="col-md-12">

                    @if (ViewBag.alart != null)
                    {
                        <div class="alert alert-@alartType.Type">@alartType.Message</div>

                    }


                    <div>
                        <table class="form-group col-md-6">
                            <tr>
                                <td>
                                    @Html.LabelFor(s => s.StudentId)
                                </td>
                                <td>
                                    <select id="StudentId" name="StudentId" class="form-control">
                                        <option value="">..Select..</option>
                                        @foreach (var student in ViewBag.Students)
                                        {
                                            <option value="@student.Id">@student.RegNo</option>
                                        }
                                    </select>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Name">Name</label>
                                </td>
                                <td>
                                    <input type="text" id="Name" class="form-control" name="Name" readonly="readonly" />
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Email">Email</label>
                                </td>
                                <td>
                                    <input type="text" id="Email" class="form-control" name="Email" readonly="readonly" />
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Department">Department</label>
                                </td>
                                <td>
                                    <input type="text" id="Department" class="form-control" name="Department" readonly="readonly" />
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="CourseId">Course</label>
                                </td>
                                <td>
                                    <select id="CourseId" name="CourseId" class="form-control">
                                        <option value="">..Select..</option>
                                    </select>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Grade">Grade</label>
                                </td>
                                <td>
                                    <select id="Grade" name="Grade" class="form-control">
                                        <option value="">Select Grade</option>
                                        <option value="A+">A+</option>
                                        <option value="A">A</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B">B</option>
                                        <option value="B-">B-</option>
                                        <option value="C+">C+</option>
                                        <option value="C">C</option>
                                        <option value="C-">C-</option>
                                        <option value="D+">D+</option>
                                        <option value="D">D</option>
                                        <option value="D-">D-</option>
                                        <option value="F">F</option>
                                    </select>
                                    <br />
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="Save" class="btn btn-success" />
                                </td>
                            </tr>
                        </table>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery-2.2.0.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script>
        $(document).ready(function () {
            $("#saveStudentResult").validate({
                rules: {
                    StudentId: "required",
                    CourseId: "required",
                    Grade: "required"
                },
                messages: {
                    StudentId: "Please select the student reg no",
                    CourseId: "Please select a course",
                    Grade: "Please select grade"
                }
            });




            $("#StudentId").change(function () {
                var stId = $("#StudentId").val();
                $("#CourseId").empty();
                $("#CourseId").append('<option value="">Select Course</option>');

                var json = { studentId: stId };

                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetStudentById", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        //alert(data);

                        var name = data.Name;
                        var email = data.Email;
                        var dept = data.Department;
                        $("#Name").val(name);
                        $("#Email").val(email);
                        $("#Department").val(dept);
                    }
                });


                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetCoursesTakebByStudent", "StudentResult")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {


                        $.each(data, function (key, value) {
                            //alert(key);
                            $("#CourseId").append('<option value=' + value.Id + '>' + value.Name + '</option>');

                        });
                    }
                });

            });

        });
    </script>
}
