﻿@using iTextSharp.text
@using iTextSharp.text.pdf
@using UniveristyWevApp
    @{
        ViewBag.Title = "Student Result";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<script language="javascript">


    //function myPrint() {
    //    var myPrintContent = document.getElementById('printDIV');
    //    var myPrintWindow = window.open('left=300,top=100,width=400,height=400');
    //    myPrintWindow.document.write(myPrintContent.innerHTML);
    //    myPrintWindow.document.getElementById('hiddenDiv').style.display = 'block';
    //    myPrintWindow.document.close();
    //    myPrintWindow.focus();
    //    myPrintWindow.print();
    //    myPrintWindow.close();
    //    return false;
    //}
    
</script>
    <div class="col-sm-12" style="padding-top: 30px">
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;"><p><strong>Student Result</strong></p></div>
            <div class="panel-body">
                <div>
                    <form id="viewStudentResult">
                        <table class="form-group">
                            <tr>
                                <td>
                                    <label for="StudentId">Registration No: </label>
                                </td>
                                <td>
                                    <select id="StudentId" name="StudentId" class="form-control">
                                        <option value="">..Select..</option>
                                        @foreach (var student in ViewBag.Students)
                                        {
                                            <option value="@student.Id">@student.RegNo</option>
                                        }
                                    </select>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Name">Name: </label>
                                </td>
                                <td>
                                    <input type="text" id="Name" name="Name" class="form-control" readonly="readonly"/>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Email">Email: </label>
                                </td>
                                <td>
                                    <input type="text" id="Email" name="Email" class="form-control" readonly="readonly"/>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <label for="Department">Department: </label>
                                </td>
                                <td>
                                    <input type="text" id="Department" name="Department" class="form-control" readonly="readonly"/>
                                    <br/>
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" class="btn btn-success btn-block" value="Make PDF" onclick="myPrint();"/>
                                    <br/>
                                </td>
                            </tr>
                        </table>

                    </form>
                    <table class="table table-bordered" style="border: 1px solid black; width: 100%; border-collapse: collapse;">
                        <caption style="font-size: 30px; font-weight: bolder; margin-bottom: 20px">Result</caption>
                        <tr>
                            <th  style=" border: 1px solid black; ">Code</th>
                            <th  style="border: 1px solid black;">Name</th>
                            <th  style="border: 1px solid black;">Grade</th>
                        </tr>
                        <tbody id="myData"></tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>

        <div class="col-sm-10" align="center">
            <div id="studenRsult">
                <div id="printDIV">
                    <div id="hiddenDiv" align="center" style="display: none">
                        <table width="90%" style="margin-bottom: 25px;">
                            <tr>
                                @*<td></td>*@
                                <td style="padding-left: 250px">
                                    <img src="~/images/puc.jpg" style="padding-left: 250px; width: 120px; height: 90px; border-radius: 25px 0px;" />
                                </td>
                            </tr>
                            <tr align="center">
                                <td><h2>PUC University Chittagong</h2></td>
                            </tr>
                        </table>
                        <h3 style="text-align: center; background-color: #9AD9EA; padding: 5px 10px; color: black; border-radius: 10px;">Academic Transcript</h3>
                        <table style="width: 90%">
                            <tr>
                                <td width="30%"><b>Name:</b> </td>
                                <td width="70%"><label id="printName" style="font-weight: bold; "></label></td>
                            </tr>
                            <tr>
                                <td><b>Registration No:</b></td>
                                <td><label id="printRegNo"></label></td>
                            </tr>
                            <tr>
                                <td><b>Email:</b></td>
                                <td><label id="printEmail"></label></td>
                            </tr>
                            <tr>
                                <td><b>Contact No:</b></td>
                                <td><label id="printContact"></label></td>
                            </tr>
                            <tr>
                                <td><b>Department:</b></td>
                                <td><label id="printDepartment"></label></td>
                            </tr>
                        </table>
                        <br />
                        <br />
                        <table class="table table-bordered" style="border: 1px solid black; width: 100%; border-collapse: collapse; margin-bottom: 100px;">
                            <tr>
                                <th class="warning" style="border: 1px solid black;">Code</th>
                                <th class="danger" style="border: 1px solid black;">Name</th>
                                <th class="success" style="border: 1px solid black;">Grade</th>
                            </tr>
                            <tbody id="myDataPrint"></tbody>
                        </table>
                        <table width="90%">
                            <tr>
                                <td><p style="text-align: left;">Date  of Publication: @DateTime.Now.ToString("dd-MMM-yyyy")</p></td>
                                <td><h4 style="text-align: right;">Controller of Examination</h4></td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>

    @section scripts{
        <script src="~/Scripts/jquery-2.2.0.js"></script>
        <script src="~/Scripts/mobiscroll-2.9.5.full.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#StudentId").change(function () {
                    var stId = $("#StudentId").val();

                    $("#myData").empty();
                    var json = { studentId: stId };

                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetStudentById", "StudentResult")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {
                            //alert(data);

                            var name = data.Name;
                            var email = data.Email;
                            var dept = data.Department;
                            var regNo = data.RegNo;
                            var contactNo = data.Contact;

                            $("#Name").val(name);
                            $("#Email").val(email);
                            $("#Department").val(dept);
                            $("#printName").text(name);
                            $("#printEmail").text(email);
                            $("#printDepartment").text(dept);
                            $("#printRegNo").text(regNo);
                            $("#printContact").text(contactNo);

                        }
                    });


                    $.ajax({
                        type: "POST",
                        url: '@Url.Action("GetStudentResultByStudentId", "StudentResult")',
                        contentType: "application/json; charset=utf-8",
                        data: JSON.stringify(json),
                        success: function (data) {

                            var i = 0;

                            $.each(data, function (index, value) {

                                var row = $("<tr><td style='border: 1px solid black; padding: 5px 10px;'>" + value.Code + "</td><td style='border: 1px solid black; padding: 5px 10px;'>" + value.Name + "</td><td style='border: 1px solid black; padding: 5px 10px;'>" + value.Grade + "</td></tr>");
                                $("#myData").append(row);
                                var row2 = $("<tr><td style='border: 1px solid black; padding: 5px 10px;'>" + value.Code + "</td><td style='border: 1px solid black; padding: 5px 10px;'>" + value.Name + "</td><td style='border: 1px solid black; padding: 5px 10px;'>" + value.Grade + "</td></tr>");
                                $("#myDataPrint").append(row2);

                            });
                        }
                    });

                });

            });
        </script>
    }
