﻿@using GridMvc.Html
@model IEnumerable<UniveristyWevApp.Models.CourseViewModel>
@{
    ViewBag.Title = "Show Course Statics";
}
            <div class="col-sm-12" style="padding-top: 30px">
                <div class="panel panel-default">
                    <!-- Default panel contents -->
                    <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;"><p><strong>View Course Statics</strong></p></div>
                    <div class="panel-body ">
                        <div class="col-sm-4"></div>
                        <div class="col-sm-4">
                            <div class="form-group" style="align-items: center">
                                <label for="DepartmentId">Select Department</label>
                                <select id="DepartmentId" name="DepartmentId" class="form-control">
                                    <option value="">Select Department....</option>
                                    @foreach (var dept in ViewBag.Departments)
                                    {
                                        <option value="@dept.Id">@dept.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4"></div>
                        <table class="table table-striped table-hover" id="myhead">

                            <thead>
                                <tr>
                                    <th>Code</th>
                                    <th>Name</th>
                                    <th>Semester</th>
                                    <th>Teacher</th>
                                </tr>
                            </thead>

                            <tbody id="myData"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            @section scripts{
                <script src="~/Scripts/jquery-2.2.0.js"></script>
                <script>
                    $(document).ready(function () {
                        $("#DepartmentId").change(function () {

                            $("#myData").empty();
                            var deptId = $("#DepartmentId").val();
                            var json = { departmentId: deptId };
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetCourseInformationByDepartmentId","CourseView")',
                                contentType: "application/json; charset=utf-8",
                                data: JSON.stringify(json),
                                success: function (data) {

                                    $.each(data, function (index, value) {

                                        var row = $("<tr><td>" + value.Code + "</td><td>" + value.Name + "</td><td>" + value.Semester + "</td><td>" + value.Teacher + "</td></tr>");
                                        $("#myData").append(row);

                                    });
                                }
                            });
                        });
                    });
                </script>
                <script src="~/Scripts/jquery-3.1.1.js"></script>
                <script src="~/Scripts/bootstrap.js"></script>
                <script>
                    $('.dropdown').hover(function () {
                        $('.dropdown-toggle', this).trigger('click');
                    });
                </script>
            }
