﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Style", required: false)
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("PUC", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "Index", "Home") <span class="sr-only">(current)</span></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Department <span class="caret"></span></a>
                        <ul class="dropdown-menu ">
                            <li>@Html.ActionLink("Save Department", "Save", "Department")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View All Departments", "Index", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Course", "Save", "Course")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View Course Statics", "ShowCourseStatics", "CourseView")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Unassign All Courses", "UnAssign", "UnAssignCourses")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teacher <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Teacher", "Save", "Teacher")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Assign Course To Teacher", "AssignCourseToTeacher", "CourseAssignToTeacher")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register Student", "Save", "Student")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Enroll Student In A Course", "Enroll", "EnrollStudentInCourse")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Save Student Result", "Save", "StudentResult")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View Result", "ViewStudentResult", "StudentResult")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class Room Allocation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Allocate Classroom", "Save", "ClassRoom")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View Class Schedule", "Index", "ClassRoom")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Unallocate All Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>
                        </ul>
                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    @*<nav class="navbar navbar-custom navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><img width="80px" height="50px" src="~/images/pucc.png" /></li>

                    <li class="active">@Html.ActionLink("Home", "Index", "Department") <span class="sr-only">(current)</span></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Department <span class="caret"></span></a>
                        <ul class="dropdown-menu ">
                            <li>@Html.ActionLink("Save Department", "Save", "Department")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View All Departments", "Index", "Department")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Course <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Course", "Save", "Course")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View Course Statics", "ShowCourseStatics", "CourseView")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Unassign All Courses", "UnAssign", "UnAssignCourses")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Teacher <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Save Teacher", "Save", "Teacher")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Assign Course To Teacher", "AssignCourseToTeacher", "CourseAssignToTeacher")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Student <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Register Student", "Save", "Student")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Enroll Student In A Course", "Enroll", "EnrollStudentInCourse")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Save Student Result", "Save", "StudentResult")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View Result", "ViewStudentResult", "StudentResult")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Class Room Allocation <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Allocate Classroom", "Save", "ClassRoom")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("View Class Schedule", "Index", "ClassRoom")</li>
                            <li role="separator" class="divider"></li>
                            <li>@Html.ActionLink("Unallocate All Classrooms", "UnAllocateClassRoom", "ClassRoom")</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>*@
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - ZeroBit</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/Scripts/bootstrap-hover-dropdown.js"></script>
    <script src="~/Scripts/mobiscroll-2.9.5.full.min.js"></script>
    <script>
        $(function () {
            $("ul.nav li.dropdown").hover(function () {
                $(".dropdown-menu", this).fadeIn();
            }, function () {
                $(".dropdown-menu", this).fadeOut("fast");
            });
        })
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
