﻿@using GridMvc.Html
@model IEnumerable<UniveristyWevApp.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>Student Information</h2>

<p>
    @Html.ActionLink("Add Student", "Save")
</p>
<table class="display table table-condensed table-bordered table-striped table-hover table-responsive" id="example" cellspacing="0">
    <thead>
        <tr>
            <th class="danger" style="text-align: center">
                @Html.DisplayNameFor(model => model.RegNo)
            </th>
            <th class="danger" style="text-align: center">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="danger" style="text-align: center">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th class="danger" style="text-align: center">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th class="danger" style="text-align: center">
                @Html.DisplayNameFor(model => model.Contact)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="danger" style="text-align: center">
                    @Html.DisplayFor(modelItem => item.RegNo)
                </td>
                <td class="danger" style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td class="danger" style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td class="danger" style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td class="danger" style="text-align: center">
                    @Html.DisplayFor(modelItem => item.Contact)
                </td>
            </tr>
        }
    </tbody>
</table>

