﻿@using UniveristyWevApp.Models
@model Student

@{
    ViewBag.Title = "Add Student";
    Layout = "~/Views/Shared/_Layout.cshtml";

    AlartType alartType = ViewBag.alart;
}
<link href="~/Content/jquery-ui.css" rel="stylesheet"/>

<div class="col-sm-12" style="padding-top: 30px">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;"><p><strong>Register Student</strong></h4></div>
        <div class="panel-body">
            <form id="saveStudentForm" method="POST">
                @if (ViewBag.alart != null)
                {
                    <div class="alert alert-@alartType.Type">
                        <strong>
                            @foreach (var ch in @alartType.Message)
                            {

                                if (ch == ';')
                                {
                                    <br />
                                }
                                else
                                {
                                    @ch
                                }
                            }
                        </strong>
                    </div>
                    @*<p style="font-size: 30px; color: olivedrab">@ViewBag.Mgs</p>*@

                }


                @*@if (ViewBag.alart != null)
                    {
                        <div class="alert alert-@alartType.Type">@alartType.Message</div>
                        <p style="font-size: 30px; color: olivedrab">@ViewBag.Mgs</p>

                    }*@


                <div class="form-group">
                    @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Email)
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Contact, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                    @Html.TextBoxFor(model => model.Contact, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Contact)
                </div>
                <div class="form-group">
                    <label for="RegDate" class="col-md-2" style="text-align: right">Date</label>
                    <input type="text" class="form-control" id="RegDate" name="RegDate" value="@DateTime.Now.ToShortDateString()">
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Address)
                </div>
                <div class="form-group">
                    <label for="DepartmentId" class="col-md-2" style="text-align: right">Department</label>
                    <select id="DepartmentId" name="DepartmentId" class="form-control">
                        <option value="">Select.......</option>
                        @foreach (var dept in ViewBag.Departments)
                        {
                            <option value="@dept.Id">@dept.Name</option>
                        }
                    </select>
                </div>
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </form>

        </div>
    </div>
</div>
    
        

        @section Scripts {
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
            
            <script>
                $(document).ready(function () {
                    $('#RegDate').datepicker();
                    $("#saveStudentForm").validate({
                        rules: {
                            Name: "required",
                            Email: {
                                required: true,
                                email: true
                            },
                            Contact: "required",
                            RegDate: "required",
                            Address: "required",
                            DepartmentId: "required"

                        },
                        messages: {
                            Name: "Please enter the student Name",
                            Email: {
                                required: "Please email address is required",
                                email: "Please enter a correct email address"
                            },
                            Contact: "Please enter the student contact",
                            RegDate: "Select date",
                            Address: "Address is required!",
                            DepartmentId: "Please select department"
                        }
                    });


                });
            </script>
        }
