﻿
@using UniveristyWevApp.Models
@model Teacher
@{
    ViewBag.Title = "Add Teacher";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AlartType alartType = ViewBag.alart;
}
<div class="col-sm-12" style="padding-top: 30px">
<div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;">
        <p><strong>Add Teacher</strong>
        </p>
    </div>
    <div class="panel-body ">

        @*@if (ViewBag.Message != null)
                {
                    <p style="font-size: 20px; color: olivedrab">@ViewBag.Message</p>

                }*@
        <form id="saveTeacherForm" method="POST">

            @if (ViewBag.alart != null)
            {
                <div class="alert alert-@alartType.Type">@alartType.Message</div>
                    @*<p style="font-size: 30px; color: olivedrab">@ViewBag.Mgs</p>*@

            }

            <div class="form-group row">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                @Html.TextBoxFor(model => model.Name, new {@class = "form-control"})
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                @Html.TextAreaFor(model => model.Address, new {@class = "form-control"})
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.Contact, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                @Html.TextBoxFor(model => model.Contact, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.DesignationId, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                <select class="form-control" id="DesignationId" name="DesignationId">
                    <option value="">Select Designation....</option>
                    @foreach (var designation in ViewBag.Designations)
                    {
                        <option value="@designation.Id">@designation.Title</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                <select class="form-control" id="DepartmentId" name="DepartmentId">
                    <option value="">Select Department....</option>
                    @foreach (var dept in ViewBag.Departments)
                    {
                        <option value="@dept.Id">@dept.Name</option>
                    }
                </select>
            </div>
            <div class="form-group row">
                @Html.LabelFor(model => model.CreditTobeTaken, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                @Html.TextBoxFor(model => model.CreditTobeTaken, new { @class = "form-control" })
            </div>
            <div class="form-group row">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </form>
    </div>
</div>
    </div>
    @section scripts{
        <script src="~/Scripts/jquery-3.1.1.js"></script>
        <script src="~/Scripts/jquery.validate.js"></script>
       
        <script>
            $(document).ready(function () {
                $("#saveTeacherForm").validate({
                    rules: {
                        Name: "required",
                        Email: {
                            required: true,
                            email: true
                        },
                        Contact:
                        {
                            required: true,
                            number: true
                        },
                        
                        CreditTobeTaken:
                        {
                            required: true,
                            number: true,
                            range: [0, 500]
                        },
                        Address: "required",
                        DesignationId: "required",
                        DepartmentId: "required"

                    },
                    messages: {
                        Name: "Please enter the  Name",
                        Email: {
                            required: "Please email address is required",
                            email: "Please enter a correct email address"
                        },
                        Contact:
                        {
                            required: "Please enter the  contact",
                            number: "Please enter the  contact"
                        },
                        CreditTobeTaken: {
                            required: "Credit is required!",
                            number: "Please enter numeric figure only!",
                            range: "Enter a positive number"
                        },
                        Address: "Address is required!",
                        DesignationId: "Designation is required!",
                        DepartmentId: "Please select department"
                    }
                });
            });
        </script>
    }
