﻿@using UniveristyWevApp.Models
@model Course
@{
    ViewBag.Title = "Add Course";
    Layout = "~/Views/Shared/_Layout.cshtml";
    AlartType alartType = ViewBag.alart;
}

<div class="col-sm-12" style="padding-top: 30px">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;"><p><strong>Save Course</strong></p></div>
            <div class="panel-body ">
                <!-- <hr/>
                <h2>Save Course</h2>
                <hr/>-->

                <form id="saveCourseForm" method="POST">
                    @if (ViewBag.alart != null)
                    {
                        <div class="alert alert-@alartType.Type">@alartType.Message</div>
                        @*<p style="font-size: 30px; color: olivedrab">@ViewBag.Mgs</p>*@

                    }


                    <div class="form-group row">
                        @Html.LabelFor(model => model.Code, new { @class = "control-label col-md-2",@style="text-align: right;" })
                        @Html.TextBoxFor(model => model.Code, new { @class = "form-control col-md-10" })
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                        @Html.TextBoxFor(model => model.Name, new { @class = "form-control col-md-10" })
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Credit, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                        @Html.TextBoxFor(model => model.Credit, new { @class = "form-control col-md-10" })
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                        @Html.TextAreaFor(model => model.Description, new { @class = "form-control col-md-10" })
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.DepartmentId, new { @class = "control-label col-md-2", @style = "text-align: right;" })
                        <select class="form-control col-md-10" id="DepartmentId" name="DepartmentId">
                            <option value="">Select Department....</option>
                            @foreach (var dept in ViewBag.Departments)
                            {
                                <option value="@dept.Id">@dept.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                        @Html.LabelFor(model => model.SemesterId, new {@class = "control-label col-md-2", @style = "text-align: right;"})
                        <select class="form-control col-md-10" id="SemesterId" name="SemesterId">
                            <option value="">Select Semester....</option>
                            @foreach (var dept in ViewBag.Semesters)
                            {
                                <option value="@dept.Id">@dept.Name</option>
                            }
                        </select>
                    </div>
                    <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Save" class="btn btn-success"/>
                    </div>
                      </div>
                        
</form>
            </div>
        </div>
    </div>
    @section scripts
{
<script src="~/Scripts/jquery-3.1.1.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
        <script>
            $(document).ready(function () {
                $("#saveCourseForm").validate({
                    rules: {
                        Code: {
                            required: true,
                            minlength: 5
                        },
                        Name: "required",
                        Description: "required",
                        Credit: {
                            required: true,
                            number: true,
                            range: [0.5, 5.00]

                        },

                        DepartmentId: "required",
                        SemesterId: "required"

                    },
                    messages: {
                        Code: {
                            required: "Please enter a valid Course Code!",
                            minlength: "Code must be at least 5 charecter! !"
                        },

                        Name: "Please enter the valid Course Name!",
                        Description: "Write something about course!",
                        Credit: {
                            required: "Credit is required!",
                            number: "Please! Enter numeric figure only!",
                            range: "Credit must be beween 0.5 and 5.00"
                        },
                        DepartmentId: "Please select related department!",
                        SemesterId: "Please select related semester!"
                    }
                });
            });
        </script>
    }
