﻿@model IEnumerable<UniveristyWevApp.Models.Department>

@{
    ViewBag.Title = "View Department Information";
}

<div class="col-sm-12" style="padding-top: 30px">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;"><p><strong>View All Department</strong></p></div>
        <div class="panel-body ">
            <table class="table table-striped " id="example" cellspacing="0">
                <thead>
                    <tr>
                        <th style="text-align: center">
                            @Html.DisplayNameFor(model => model.Code)
                        </th>
                        <th style="text-align: center">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Code)
                            </td>
                            <td style="text-align: center">
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>