﻿@model UniveristyWevApp.Models.TempClassSchedule
@{
    ViewBag.Title = "View Class Schedule";
}

<div class="col-sm-12" style="padding-top: 30px">
    <div class="panel panel-default">
        <!-- Default panel contents -->
        <div class="panel-heading" style="text-align: center; height: 40px; padding-top: 10px;">
            <p><strong>Class Schedule and Room Allocation Information</strong></p>
        </div>
        <div class="panel-body">
            <table class="table" >
                <tr>
                    <td>@Html.LabelFor(x => x.DepartmentId)</td>
                    <td>
                        <select id="DepartmentId" class="form-control">
                            <option value="">Select department</option>
                            @foreach (var dept in ViewBag.Departments)
                            {
                                <option value="@dept.Id">@dept.Name</option>
                            }
                        </select>
                    </td>
                    <td>@Html.ValidationMessageFor(m => m.DepartmentId)</td>
                </tr>
            </table>
            <table id="SchduleTable" class=" table table-hover table-bordered">
                <thead class="table table-striped">
                    <tr>
                        <th  style="width: 150px;">Course Code</th>
                        <th  style="width: 220px;">Course Name</th>
                        <th style="width: 350px;">Schedule Info</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#DepartmentId").change(function () {
                $('#SchduleTable tbody').empty();
                var deptId = $("#DepartmentId").val();
                var json = { departmentId: deptId, };
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetClassScheduleByDepartment", "ClassRoom")',
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(json),
                    success: function (data) {
                        $.each(data, function (key, value) {
                            $("#SchduleTable tbody").append('<tr><td>' + value.CourseCode + '</td><td>' + value.CourseName + '</td><td>' + value.ScheduleInfo + '</td></tr>');
                        });
                    }
                });
            });
        });
    </script>
}
